<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] Bookstore Admin Dashboard</title>
    <link rel="stylesheet" href="~/Admin/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Admin/css/style.css">
</head>
<body>
    <header>
        <h3><a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">Book Store Admin Dashboard</a></h3>
        <div class="user-info">
            <span>Admin</span>
            <div class="avatar">A</div>
        </div>
    </header>
    <div class="dashboard">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <p>© 2025 Bookstore Admin Dashboard</p>
    </footer>
    <script src="~/Admin/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Admin/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/js/script.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
