@model PublishingHouse

<div class="admin-container">
	<div class="page-header">
		<h1 class="page-title">Create New Publishing House</h1>
		<a class="btn btn-back" asp-area="Admin" asp-controller="PublishingHouse" asp-action="Index">
			Back to PublishingHouses
		</a>
	</div>

	<div class="create-form-container">
		<form asp-action="Create" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label for="Name">Publishing House Name</label>
				<input value="@Model.Name" type="text" id="Name" name="Name" class="form-control" placeholder="Enter Publishing House name" required>
				<span style="color:red" style="color:red" class="text-danger" asp-validation-for="Name"></span>
			</div>

			<!--Images-->
			<div class="form-group mb-3">
				<label>Upload Image</label>
				<input type="file" class="form-control" accept="image/*" id="files" name="files" multiple required>
			</div>

			<!--Videos-->
			<div class="form-group mb-3">
				<label>Upload Videos</label>
				<input type="file" class="form-control" accept="video/*" id="files" name="files" multiple required>
			</div>

			<div class="form-group">
				<label for="Description">Description</label>
				<textarea id="Description" name="Description" class="form-control" rows="4" placeholder="Enter Publishing House description">@Model.Description</textarea>
				<div class="form-hint">Describe this Publishing House (optional)</div>
				<span style="color:red" style="color:red" class="text-danger" asp-validation-for="Description"></span>
			</div>

			<div class="form-actions">
				<button type="reset" class="btn btn-cancel">
					Reset
				</button>
				<button type="submit" class="btn btn-create">
					Create Publishing House
				</button>
			</div>
		</form>

	</div>
</div>
@section Scripts {
	<script>
	</script>
}
