@model Online_Book_Store.ViewModels.Identity.EmailConfirmationVM

@{
    ViewData["Title"] = "EmailConfirmation";
}
@section Scripts {
    <partial name="_NotificationPartial.cshtml" />
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<div class="row">
    <div class="center-container">
        <h1>Email Confirmation</h1>
        <br />
        <form asp-action="EmailConfirmation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserNameOrEmail" class="control-label"></label>
                <input asp-for="UserNameOrEmail" class="form-control" />
                <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-create">
                    Send Confirmation Email
                </button>
            </div>
        </form>
        <br />
        <div>
            <a asp-area="Identity" asp-controller="Account" asp-action="Register">
                Don't Have An Account ?
            </a>
        </div>
        <br />
        <div>
            <a asp-area="Identity" asp-controller="Account" asp-action="SignIn">
                Already Have An Account ?
            </a>
        </div>
    </div>
</div>
