@model Online_Book_Store.ViewModels.Identity.ForgetPasswordVM

@{
    ViewData["Title"] = "ForgetPassword";
}
@section Scripts {
    <partial name="_NotificationPartial.cshtml" />
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<div class="row">
    <div class="center-container">
        <h1>Forget Password</h1>
        <br />
        <form asp-action="ForgetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserNameOrEmail" class="control-label">UserName Or Email</label>
                <input asp-for="UserNameOrEmail" class="form-control" />
                <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-create">
                    Send OTP to Reset Password
                </button>
            </div>
        </form>
    </div>
</div>
