@model Online_Book_Store.ViewModels.Identity.ResetPasswordVM

@{
    ViewData["Title"] = "ResetPassword";
}
@section Scripts {
    <partial name="_NotificationPartial.cshtml" />
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<div class="row">
    <div class="center-container">
        <h1>Confirm OTP & Reset Password</h1>
        <br />
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" value="@Model.UserId"/>

            <div class="form-group">
                <label asp-for="OTPNumber" class="control-label">OTP Number</label>
                <input asp-for="OTPNumber" class="form-control" />
                <span asp-validation-for="OTPNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-create">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
</div>
